  
  <ion-view view-title="Maps">

  <ion-nav-buttons side="primary">   
      <a class="button button-clear ion-ios-navigate-outline icon icon-left" href="#/tab/LG(Current)"> Back</a>
</ion-nav-buttons>



  <ion-content>


 <!--<div>
    <div id="map" data-tap-disabled="true"  map>
    </div>

   <div width="80%" class="list list-inset" style="margin-left:10%;margn-right:10%;">
    <label class="item item-input">
      <input type="text" ng-model="user.desc" placeholder="Description">
    </label>

      <button class="button button-full button-dark" ng-click="saveDetails()">
       Save
      </button>


    </div>-->  


    
</div>
</ion-content>
  </ion-view>